footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $main-color;
  width: 100%;
  padding: 14px 16px 10px;
  margin-top: 20px;
  p {
    margin: 0;
  }
  img {
    width: 24px;
    margin-left: 10px;
  }
}
